<div class="text-center pt-4">
  <form class="center-align" novalidate [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <h1 class="h3 m-3 mt-4 mb-3 fw-normal">Unico Connect</h1>
    <h1 class="h3 m-3 mt-4 fw-normal">Please sign in to continue</h1>
    <div class="form-floating mb-3 mt-3">
      <input type="email" formControlName="email" class="form-control" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
      <p class="text-start text-danger new-line" *ngIf="formErrors.email">{{ formErrors.email }}</p>
    </div>
    <div class="form-floating mt-3">
      <input type="password" formControlName="password" class="form-control" placeholder="Password">
      <label for="floatingPassword">Password</label>
      <p class="text-start text-danger new-line" *ngIf="formErrors.password">{{ formErrors.password }}</p>
    </div>
    <div class="mt-3">
        <button type="subit" class="btn btn-primary btn-block btn-lg" [disabled]="loginForm.invalid">Log in</button>
    </div>
    <div class="mt-3 pt-4">
        <p>Don't have an account? <a [routerLink]="['/registration']">Register Here</a></p>
    </div>
  </form>
</div>
