/* You can add global styles to this file, and also import other style files */
a {
    text-decoration: none;
}

.new-line {
    white-space: pre-line;
  }

  .center-align {
    max-width: 480px !important;
    margin: auto;
}