<div class="text-center pt-4">
  <form class="center-align" novalidate [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <h1 class="h3 m-3 mt-4 fw-normal">Sign up Form</h1>
    <div class="form-floating mb-3 mt-3">
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Your Name">
      <label for="name">Name</label>
      <p class="text-start text-danger new-line" *ngIf="formErrors.name">{{ formErrors.name }}</p>
    </div>
    <div class="form-floating mb-3 mt-3">
      <input type="email" formControlName="rollNumber" class="form-control" id="rollNumber"
        placeholder="Enter Your Roll Number">
      <label for="rollNumber">Roll Number</label>
      <p class="text-start text-danger new-line" *ngIf="formErrors.rollNumber">{{ formErrors.rollNumber }}</p>
    </div>
    <div class="form-floating mb-3 mt-3">
      <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter Your Email">
      <label for="email">Email Id</label>
      <p class="text-start text-danger new-line" *ngIf="formErrors.email">{{ formErrors.email }}</p>
    </div>
    <div class="form-floating mt-3">
      <input type="password" formControlName="password" class="form-control" id="password"
        placeholder="Enter Your Password">
      <label for="password">Password</label>
      <p class="text-start text-danger new-line" *ngIf="formErrors.password">{{ formErrors.password }}</p>
    </div>
    <div class="form-floating mt-3">
      <input type="password" formControlName="cpassword" class="form-control" id="cpassword"
        placeholder="Confirm Password">
      <label for="cpassword">Confirm Password</label>
      <p class="text-start text-danger new-line" *ngIf="!passwordSame">{{ validationMessages.cpassword.mismatch }}</p>
    </div>
    <select class="form-select mt-3 p-3" formControlName="currentStandard" (change)="changeStandard()">
      <option selected value="null">Select Your Standard</option>
      <option *ngFor="let s of Standards" value="{{ s.label }}">{{ s.label }}</option>
    </select>
    <ng-container *ngFor="let sm of studentMark.controls; let i = index">
      <div [formGroup]="sm" class="row mt-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Standard" formControlName="standard"
            readonly>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Remarks" formControlName="remarks">
          <div *ngIf="sm.controls.remarks.errors">
            <p class="text-start text-danger new-line" *ngIf="sm.controls.remarks.errors.required">
              {{ validationMessages.studentMarks.remarks.required }}</p>
            <p class="text-start text-danger new-line" *ngIf="sm.controls.remarks.errors.minlength">
              {{ validationMessages.studentMarks.remarks.minlength }}</p>
            <p class="text-start text-danger new-line" *ngIf="sm.controls.remarks.errors.maxlength">
              {{ validationMessages.studentMarks.remarks.maxlength }}</p>
            <p class="text-start text-danger new-line" *ngIf="sm.controls.remarks.errors.pattern">
              {{ validationMessages.studentMarks.remarks.pattern }}</p>
          </div>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Percentage" formControlName="percentage">
          <div *ngIf="sm.controls.percentage.errors">
            <p class="text-start text-danger new-line" *ngIf="sm.controls.percentage.errors.required">
              {{ validationMessages.studentMarks.percentage.required }}</p>
            <p class="text-start text-danger new-line" *ngIf="sm.controls.percentage.errors.pattern">
              {{ validationMessages.studentMarks.percentage.pattern }}</p>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="mt-3">
      <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="registerForm.invalid">Sign Up</button>
    </div>
    <div class="mt-3 pt-4">
      <p>Already have an account? <a [routerLink]="['']">Login</a></p>
    </div>
  </form>
</div>
