<div class="container text-center mt-4" *ngIf="!fetching">
  <h3 class="h3 fw-normal">Welcome {{ stuDetails.NAME }} &nbsp; <button type="button" class="btn btn-danger btn-block" (click)="logout()"> Log Out</button></h3>
  <div class="row text-center fw-normal h3 mt-4">
    <div class="col">
      Roll No : {{ stuDetails.ROLL_NUMBER }}
    </div>
    <div class="col">
      Current Standard : {{ stuDetails.CURRENT_STANDARD }}
    </div>
  </div>
  <table class="table text-center mt-4" *ngIf="stuDetails.CURRENT_STANDARD != '1st'">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Standard</th>
        <th scope="col">Remarks</th>
        <th scope="col">Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let st of stuPrevDetails; let i = index">
        <th scope="row">{{ i + 1}}</th>
        <td>{{ st.STANDARD }}</td>
        <td>{{ st.REMARKS }}</td>
        <td>{{ st.PERCENTAGE }}%</td>
      </tr>
    </tbody>
  </table>
  <p class="mt-4 h3 fw-normal" *ngIf="stuDetails.CURRENT_STANDARD == '1st'"> No Previous Records </p>
</div>
